.container{
      margin: 20px auto;
      width: 80%;
      display: grid;
      grid-template: [baris1-awal] 'header header header'2fr [baris1-ahkir baris2-awal]'footer footer footer'3fr / 1fr 1fr 2fr;
      grid-auto-rows: 5fr;
}

.item{
      background-color: tomato;
}
.item:nth-child(odd){
      background-color: turquoise;
}

