.kotak{
   width: 100px;
   height: 100px;
   background-color: aqua;
   animation: animasikotak 3s ease-in 5 alternate forwards;
}



@keyframes animasikotak{
   0%{
      width: 100px;
      height: 100px;
   }
   20%{
      margin-left: 50%;
      border-top-left-radius: 50%;
      border-bottom-right-radius: 50%;
   }

   100%{
      background-color: brown;
      margin-left: 50%;
   }
}