/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*Style CSS*/


body{
    font: 18px/28px arial, sans-serif;
    background-color: darkgrey;
    background-image: url(../gambar/bg.png);
}

.top-bar{
    position: fixed;
    height: 40px;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: cornflowerblue;
    z-index: 1;
    border-bottom:10px solid salmon;
    
}
.top-bar ul li {
  display: inline-block;
  margin: 10px 8px;
  padding-left: 5px;
}
.top-bar a{
    text-decoration: none;
    color: black;
}



.container{
    width: 960px;
    margin: auto;
    background-color: white;
    margin-top: 80px;
    position: relative;
}

.instagram{
    width: 200px;
    height: 200px;
    background-image: url(gambar/instagram.png);
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    text-indent: -99999999px;
    top: 0px;
    right: -55px;
}

.header{
    padding: 20px;
    padding-bottom: 10px;
}

.header .judul{
    font-size: 35px;
    font-weight: bold;
}

.header ul li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 5px;
}

.header a{
    text-decoration: none;
    color: tomato;
    padding: 3px;
}

.header ul li a:hover{
    color: cornflowerblue;
    background-color: darkslategray;
}

.banner{
    width: auto;
    height: 300px;
    background-image: url(gambar/bg.png);
    background-size: cover;
    border-top:5px solid tomato ;
    border-bottom:5px solid deepskyblue;
    background-position:0 -50px ; /*horizontal vertikal*/
    
    
}
.main{
    padding: 20px;
    float: left;
    width: 600px;
    box-sizing: border-box;
}
.main h2{
    font-size: 28px;
    font-weight: bold;
}
.main .penulis {
    font-size: 12px;
    margin-top: -5px;
}
.main .penulis a{
    color: tomato;
    text-decoration: none;
}
.main p{
    margin-bottom: 10px;
    font-size: 16px;
}

.side{
    float:left;
    padding: 20px;
    width: 300px;
    box-sizing: border-box;
}
.side p{
    font: 12px/18px arial;
    color: dimgrey;
}

.side img{
    width: 70px;
    height: 70px;
    float: left;
    margin: 10px;
    box-sizing: border-box;
    
    
}

.side h3{
    font-weight: bold;
}

.footer{
    background-color: dimgrey;
}

.footer p{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}









/* Clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}















